.jsCalendar tbody td,
.jsCalendar thead .jsCalendar-week-days th {
  width: 77px;
  height: 77px;
  font-size: 25px;
}

.jsCalendar thead .jsCalendar-title-name {
  font-size: 25px;
}

.jsCalendar-title {
  padding: 15px 0 40px;
}
